<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="main w-full h-screen bg-zinc-800 text-white">
    <h1 class="text-7xl p-3"> create your account </h1>
    <form action="/create" class="flex flex-col gap-5 px-5 mt-10" method="post">
      <input class="px-5 py-1 bg-zinc-700 " type="text" name="name" placeholder="name">
      <input class="px-5 py-1 bg-zinc-700 " type="text" name="email" placeholder="email">
      <input class="px-5 py-1 bg-zinc-700 " type="password" name="password" placeholder="password">
      <button class="bg-red-700 px-5 py-1 w-40 m-auto">create now</button>
    </form>
  </div>
</body>

</html>