<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main w-full h-screen bg-zinc-800 text-white">
        <h1 class="text-7xl p-3">welcome to facebook</h1>
        <div class="btn flex gap-5 px-5">
            <button  class="text-3xl bg-red-700 px-5 py-1 rounded-lg" ><a href="/create">create account</a></button>
            <button class="text-3xl bg-blue-700 px-5 py-1 rounded-lg" ><a href="/login">login account</a></button>
        </div>
    </div>
</body>
</html>